<header>
    <!--NavBar Section-->
    <div class="navbar">
        <nav class="navigation hide" id="navigation">
            <!-- <span class="close-icon" id="close-icon" ><i class="fa fa-close"></i></span> -->
            
        </nav>
        <!-- <a class="bar-icon" id="iconBar"><i class="fa fa-bars"></i></a> -->
        <div class="brand">Forum for cars</div>
    </div>

    <div>
        <ul class="nav-list">
            <li *ngIf="!isLoggedIn" class="nav-item"><a routerLink="/register">Register</a></li>
            <li *ngIf="!isLoggedIn" class="nav-item"><a routerLink="/login">Login</a></li>

            <li *ngIf="isLoggedIn" class="nav-item"><a (click)="logout()">Logout</a></li>
            <li *ngIf="isLoggedIn" class="nav-item"><a routerLink="/detail">User Detail</a></li>

            <li *ngIf="isLoggedIn" class="nav-item"><a routerLink="/add-post">New Post</a></li>
            <li class="nav-item"><a routerLink="/posts">Posts</a></li>
            <li class="nav-item"><a routerLink="/forums">Forums</a></li>
            <li class="nav-item"><a routerLink="/home">Home</a></li>
        </ul>
    </div>

    
</header>
